# Oil Prices

In [1]:
import pandas as pd
from pandas_datareader import data as pdr
from datetime import datetime
from pathlib import Path

# ---------------------------------------------------------
# DIRECTORIES (UPDATED)
# ---------------------------------------------------------
BASE_DIR = Path(r"D:\MS_Data_Science_Thesis\Data_Extraction")
RAW_DATA_DIR = BASE_DIR / "Raw_Data_Folder"
RAW_DATA_DIR.mkdir(parents=True, exist_ok=True)

print("Outputs will be saved to:", RAW_DATA_DIR)

Outputs will be saved to: D:\MS_Data_Science_Thesis\Data_Extraction\Raw_Data_Folder

In [3]:
start = datetime(2010, 1, 1)
end = datetime.today()

series = {
    "WTI": "DCOILWTICO",
    "Brent": "DCOILBRENTEU"
}

In [5]:
frames = {}

for name, code in series.items():
    df = pdr.DataReader(code, "fred", start, end).reset_index()
    df = df.rename(columns={"DATE": "date", code: "price"})
    df["benchmark"] = name

    frames[name] = df

    # Save raw per-benchmark file (same behavior as your original script)
    df.to_csv(RAW_DATA_DIR / f"{name}_crude.csv", index=False)

frames["WTI"].head()

        date  price benchmark
0 2010-01-01    NaN       WTI
1 2010-01-04  81.52       WTI
2 2010-01-05  81.74       WTI
3 2010-01-06  83.12       WTI
4 2010-01-07  82.60       WTI

In [6]:
oil_prices = pd.concat(frames.values(), ignore_index=True)

long_path = RAW_DATA_DIR / "oil_prices_long.csv"
wide_path = RAW_DATA_DIR / "oil_prices_wide.csv"

oil_prices.to_csv(long_path, index=False)

oil_wide = oil_prices.pivot(index="date", columns="benchmark", values="price").reset_index()
oil_wide.to_csv(wide_path, index=False)

print(f"✅ Saved long panel to: {long_path} (rows={len(oil_prices):,})")
print(f"✅ Saved wide panel to: {wide_path} (rows={len(oil_wide):,}, cols={oil_wide.shape[1]})")

oil_prices.head()

✅ Saved long panel to: D:\MS_Data_Science_Thesis\Data_Extraction\Raw_Data_Folder\oil_prices_long.csv (rows=8,404)
✅ Saved wide panel to: D:\MS_Data_Science_Thesis\Data_Extraction\Raw_Data_Folder\oil_prices_wide.csv (rows=4,202, cols=3)

        date  price benchmark
0 2010-01-01    NaN       WTI
1 2010-01-04  81.52       WTI
2 2010-01-05  81.74       WTI
3 2010-01-06  83.12       WTI
4 2010-01-07  82.60       WTI